<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>IERG4210</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>

</header>
<section id="cart_index"><span id="cart_summary">Shopping List $2</span>
<ul>
<span class="cart_title">Shopping List Total:$2</span>
<li><span class="cart_name">Product1</span> <input class="cart_qualtity" type="number"> <span class="cart_price">@$1.0</span></li>
<li><span class="cart_name">Prouct1</span> <input class="cart_qualtity" type="number"> <span class="cart_price">@$1.0</span></li>
<li><span class="cart_name">Prodt1</span> <input class="cart_qualtity" type="number"> <span class="cart_price">@$1.0</span></li>
<li><span class="cart_name">Produsadct1</span> <input class="cart_qualtity" type="number"> <span class="cart_price">@$1.0</span></li>
<button>Submit</button>

</ul>
</section>
<section id="category_list"><ul>
	{{#each cat}}
				<a href="/cat/{{catid}}"><li>{{name}}</li></a>
	{{/each}}
</ul></section>

<div id="right">
{{{body}}}
</div>
</body>
<script type="text/javascript" src="/lib/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/lib/cat.js"></script>
</html>
