<h1>Welcome back! {{username}}!</h1>
{{#each payment}}
<article id="payment_list">
<section>
<span>{{paymentId}}</span><span>{{state}}</span><span>{{dateCreated}}</span>
</section>
</article>
{{/each}}