<h1>Processing your order...</h1>
<script type="text/javascript" src="/lib/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/lib/cat.js"></script>
<script type="text/javascript" src="/lib/autocheckout.js"></script>