<nav><a href="main">Home</a> > <a href="main">C1</a></nav>
<section id="product_list"><ul>
	<li class="product_box"><a href="product"><img src="images/icon.png">
	<div class="product_name">cup1</div></a>
	<div>$100 <button>add</button></div></li>
	<li class="product_box"><a href="product"><img src="images/icon.png">
	<div class="product_name">cup2</div></a>
	<div>$100 <button>add</button></div></li>

</ul></section>