<h1>IERG4210 Shop - Login Panel</h1>
<article id="main">

<section id="loginPanel" class="panel">
	<fieldset id="loginForm">
		<legend>Shop49 Login</legend>
		<form method="POST" action="">
			 <input type="hidden" name="_csrf" value="{{csrfToken}}">
			<label for="userName">Username</label>
			<div><input id="userName" type="text" name="username" required pattern="^[\w- ']+$" /></div>
			<label for="password">Password</label>
			<div><input id="password" type="password" name="password" required /></div>
			<input type="submit" value="Submit" />
		</form>
	</fieldset>
</section>

test account : shopcommon/common

<div class="clear"></div>

</article>