<h1>IERG4210 Shop - Password Panel</h1>
<article id="main">

<section id="loginPanel" class="panel">
	<fieldset id="loginForm">
		<legend>Shop49 Login</legend>
		<form method="POST" action="/password">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<label for="password">Original password</label>
			<div><input id="oldpassword" type="password" name="oldpassword" required /></div>
			<label for="newpassword">New password</label>
			<div><input id="newpassword" type="password" name="newpassword" required /></div>
			<label for="newpassword2">Repeat new password</label>
			<div><input id="newpassword2" type="password" name="newpassword2" required /></div>
			<input type="submit" value="Submit" />
		</form>
	</fieldset>
</section>


<div class="clear"></div>

</article>