
<article id="payment_detail">
<h1>Payment details</h1>
{{#each item}}
<section><img src="/images/products/{{sku}}"/></secction>
<section>{{name}}</section>
<section> Price: {{price}}  </section>
<section> Quantity: {{quantity}} </section>
{{/each}}
</article>